<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductMaintDB"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\rosse\OneDrive\Aidan\Homework\repos\final\c-Final\Final!!!\ProductMaintenanceApp\ProductMaintenanceApp\ProductDB.mdf;Integrated Security=True;Encrypt=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>